<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset</title>
</head>
<body style="background-color:#f3f3f1;font-family:sans-serif;font-size:14px;line-height:1.4;margin:0;padding:0;padding-bottom:20px">
    <table style="border-collapse:separate;width:100%">
        <tbody>
            <tr style="text-align:center">
                <td style="font-family:sans-serif;vertical-align:top">&nbsp;</td>
                <td style="font-family:sans-serif;vertical-align:top">&nbsp;</td>
            </tr>

            <tr>
                <td style="font-family:sans-serif;vertical-align:top">&nbsp;</td>
                <td style="font-family:sans-serif;vertical-align:top;display:block;max-width:580px;margin:0 auto!important">
                    <table style="border-collapse:separate;width:100%;background-color:#ffffff;border-radius:4px;padding:20px;padding-top:36px">
                        <tbody>
                            <tr>
                                <td style="font-family:sans-serif;vertical-align:top;text-align:center">
                                    <p style="margin-bottom:16px;margin-top:0;color:#000">
                                        <img 
                                            data-emoji="👋" 
                                            class="an1" 
                                            alt="👋" 
                                            aria-label="👋" 
                                            src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f44b/72.png" 
                                            loading="lazy"
                                            width="20"
                                            height="20"
                                        > 
                                        Hey {{ username }}!
                                    </p>
                                    <p style="margin-bottom:28px;margin-top:0;color:#1b1d1a">
                                        Use the link below to change your password.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:sans-serif;vertical-align:top;background-color:#805dca;border-radius:64px;font-size:16px;line-height:24px;padding:16px 24px;text-align:center;width:100%">
                                    <a 
                                        href="{{ reset_link }}"
                                        target="_blank"  
                                        style="color:#ffffff;font-weight:bold;text-decoration:none" 
                                    >
                                        Change password
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:sans-serif;vertical-align:top">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-family:sans-serif;vertical-align:top;text-align:center">
                                    <p style="margin-bottom:16px;margin-top:0;color:#1b1d1a">
                                        Thanks,<br>
                                        The Demo team
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="font-family:sans-serif;vertical-align:top">&nbsp;</td>
            </tr>
        </tbody>
    </table>    
</body>
</html>